<body>
  <script type="text/x-template" id="mm-navdrawer-template">
    <v-navigation-drawer
    app
    v-model="visibleDrawer"
    >
      <v-list>
        <v-subheader inset>Documentation</v-subheader>
        <v-list-tile v-for="doc in documentation" :key="doc.title">
          <v-list-tile-title><router-link :to="doc.href">{{ doc.title }}</router-link></v-list-tile-title>
        </v-list-tile>
        <v-subheader inset>Heroku Demos</v-subheader>
        <v-list-tile v-for="demo in demos" :key="demo.title">
          <v-list-tile-title><a :href="demo.href" target="_blank">{{ demo.title }}</a></v-list-tile-title>
        </v-list-tile>
        <v-subheader inset>GitHub Repos</v-subheader>
        <v-list-tile v-for="repo in repos" :key="repo.title">
          <v-list-tile-title><a :href="repo.href" target="_blank">{{ repo.title }}</a></v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
  </script>
</body>
